# OSX - https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

.AppleDouble

.LSOverride



# Icon must end with two \r

Icon





# Thumbnails

._*



# Files that might appear in the root of a volume

.DocumentRevisions-V100

.fseventsd

.Spotlight-V100

.TemporaryItems

.Trashes

.VolumeIcon.icns



# Directories potentially created on remote AFP share

.AppleDB

.AppleDesktop

Network Trash Folder

Temporary Items

.apdisk





# Windows - https://github.com/github/gitignore/blob/master/Global/Windows.gitignore

# Windows image file caches

Thumbs.db

ehthumbs.db



# Folder config file

Desktop.ini



# Recycle Bin used on file shares

$RECYCLE.BIN/



# Windows Installer files

*.cab

*.msi

*.msm

*.msp



# Windows shortcuts

*.lnk



# CMake

*CMakeCache.txt

*CMakeFiles/

*cmake_install.cmake

*Makefile
# cocos studio

*.udf



# proj.android

bin/

SpaceShooter/proj.android/assets/

SpaceShooter/proj.android/bin/

SpaceShooter/proj.android/gen/

SpaceShooter/proj.android/libs/

SpaceShooter/proj.android/local.properties

SpaceShooter/proj.android/obj/

SpaceShooter/cocos2d/cocos/platform/android/java/bin/

SpaceShooter/cocos2d/cocos/platform/android/java/gen/

SpaceShooter/cocos2d/cocos/platform/android/java/local.properties

SpaceShooter/cocos2d/cocos/platform/android/java/res/

.metadata/

.recommenders/



# proj.android-studio

.idea/

*.iml

SpaceShooter/proj.android-studio/app/assets/

SpaceShooter/proj.android-studio/app/obj/

SpaceShooter/proj.android-studio/app/libs/armeabi/

SpaceShooter/proj.android-studio/app/libs/armeabi-v7a/

SpaceShooter/proj.android-studio/app/libs/x86/

SpaceShooter/proj.android-studio/app/gradle.properties

SpaceShooter/proj.android-studio/app/local.properties

SpaceShooter/proj.android-studio/*/build/

SpaceShooter/cocos2d/cocos/platform/android/libcocos2dx/build/

SpaceShooter/cocos2d/cocos/platform/android/java/libs/gps/build/



# proj.ios_mac

SpaceShooter/cocos2d/build/build/

SpaceShooter/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/

SpaceShooter/proj.ios_mac/build/

SpaceShooter/proj.ios_mac/*.xcodeproj/project.xcworkspace

SpaceShooter/proj.ios_mac/*.xcodeproj/xcuserdata/

!*.pch



# proj.linux



# proj.win32

*.suo

.vs/

.vscode/

SpaceShooter/cocos2d/cocos/2d/Debug.*/

SpaceShooter/cocos2d/cocos/editor-support/spine/proj.win32/Debug.*/

SpaceShooter/cocos2d/external/Box2D/proj.win32/Debug.*/

SpaceShooter/cocos2d/external/recast/proj.win32/Debug.*/

SpaceShooter/cocos2d/cocos/2d/Release.*/

SpaceShooter/cocos2d/cocos/editor-support/spine/proj.win32/Release.*/

SpaceShooter/cocos2d/external/Box2D/proj.win32/Release.*/

SpaceShooter/cocos2d/external/recast/proj.win32/Release.*/

SpaceShooter/proj.win32/*.sdf

SpaceShooter/proj.win32/*.opensdf

SpaceShooter/proj.win32/Debug.*/

SpaceShooter/proj.win32/Release.*/